{% extends 'core/base.html' %}

{% block css %}
<link href="{% static 'core/css/style.css'%}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}
<main>
<div class="container">
    <div class="columna1">
      <h2>Donacion para la fundacion</h2>
      <p>
        <p>Quieres hacer una <b>DONACION </b>para ayudar a las mascotas que lo necesiten?:</p>
        <a href="https://www.paypal.com/cl/welcome/signup/#/mobile_conf"><img src="assets/img/Paypal-Donar.png" alt="El estado del Seguimiento de la compra" width="300px"> <br>
      </p>
    </div>
    <div class="columna2">
      <img src="assets/img/nosotros.jpg">
    </div>
</div>
</main>
{% endblock %}


