{% extends 'core/base.html' %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}



{% block content %} 
{% load crispy_forms_tags %} 
<body>
    <div class="">
        <div>
            <br>
            <h1 style="text-align: center !important;">
                Mantenedor de Usuario
            </h1>
            <br>
        <div>
        {% if form %}
        <form method="POST" action="" enctype="multipart/form-data" id="formulario">
            <div class="form-group">
                {% csrf_token %} {{ form | crispy }}
            </div>
            <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
            <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
            <a class="btn btn-success btnwidth" href="{% url 'Editusuario' 'ins' -1%}">Nuevo</a>
            {% if id != '-1' %}
            <a class="btn btn-danger btnwidth" href="{% url 'Editusuario' 'del' user.id %}">Eliminar</a>
            {% endif %}
            <a class="btn btn-info btnwidth" href="{% url 'index' %}">Inicio</a>
            {% if mesg %}
            <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
            {% endif %}
        </form>
        {% endif %}
        {% if list %}
        <table id="tabla_datos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo Usuario</th>
                    <th>Rut</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Driección</th>
                    <th>Con subscripción</th>
                    <th>Imagen</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for ve in list %}
                <tr>
                    <td>{{ ve.user.id }}</td>
                    <td>{{ ve.tipo_usuario }}</td>
                    <td>{{ ve.rut }}</td>
                    <td>{{ ve.user.first_name }}</td>
                    <td>{{ ve.user.last_name }}</td>
                    <td>{{ ve.direccion }}</td>
                    <td>{{ ve.sub }}</td>
                    <td>{{ ve.imagen }}</td>
                    <td><a href="{% url 'Editusuario' 'upd' ve.user.id %}" 
                        class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                    <td><a href="{% url 'Editusuario' 'del' ve.user.id %}" 
                        class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <br>
        <a href="http://127.0.0.1:8000/admin" class="btn btn-info btn-sm">Administración</a>
        <a href="{% url 'index' %}" class="btn btn-info btn-sm">Home page</a>
    </div>

{% endblock content %}
