{% extends 'core/base.html' %}
{% load static %}

{% block content %}

                               
<div>
  <div>
      <div>
          <div>
              <h1 class="admin_ventas">Detalle factura 1 </h1>
              <p>Este pedido ha sido <b>Entregado </b>con éxito:</p>
              <img src="{% static 'core/img/SeguimientoCompra.png' %}" alt="El estado del Seguimiento de la compra" width="400px"> <br>
              <table class="table">
                  <thead>
                      <th>ID</th>
                      <th>Categoría</th>
                      <th>Nombre producto</th>
                      <th>Precio</th>
                      <th>% Desc subsciptor</th>
                      <th>% Desc Oferta</th>
                      <th>Precio final</th>
                      
          
      <tr>
          <td data-label="id">2</td>
          <td data-label="Categoría">Perros</td>
          <td data-label="Nombre producto">Pack Yogy Helado</td>
          <td data-label="Precio">$2.400</td>
          <td data-label="% Desc subsciptor">0%</td>
          <td data-label="% Desc Oferta">10%</td>
          <td data-label="Precio final">$2.160</td>
      </tr>
          
      <tr>
          <td data-label="id">3</td>
          <td data-label="Categoría">Gatos</td>
          <td data-label="Nombre producto">Dingo Dental Mini Bones 7und x70gr</td>
          <td data-label="Precio">$2.600</td>
          <td data-label="% Desc subsciptor">0%</td>
          <td data-label="% Desc Oferta">0%</td>
          <td data-label="Precio final">$2.600</td>
      </tr>
  </tbody>
</table>
</div>
{% endblock content %}
