{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container">
      <div class="columna1">
        <h1>Seguimiento de compra</h1>
        <p>
          <p>Su compra ha sido <b>Entregada </b>con éxito:</p>
          <img src="{% static 'core/img/SeguimientoCompra.png' %}" alt="El estado del Seguimiento de la compra" width="400px"> <br>
        </p>
      </div>
      <div class="columna2">
        <img src="{% static 'core/img/nosotros.jpg' %}">
      </div>
  </div>
  </main>
{% endblock content %}
